* {
  padding: 0;
  margin: 0;
}

.backgroungIMgOne {
  background-image: url(/image/background.jpg);
  background-color: rgba(252, 249, 248, 0.9);
  background-repeat: no-repeat;
}

.backgroungIMgTwo {
  background-image: url(/image/background2.png);
  background-repeat: no-repeat;
}

.backgroungIMgThree {
  background-image: url(/image/background.jpg);
  background-repeat: no-repeat;
}

.backgroundColor {
  background-color: rgba(252, 249, 248, 0.7);
}

.section--padding {
  padding: 2rem 7rem;
}

.logoLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 17px 60px;
  max-height: 6rem;
  height: 4rem;
}

.logoLink.sticky {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 97%;
  z-index: 1000;
  padding: 0 20px;
  padding: 1rem 0 1rem 0;
  max-width: 100%;
}

.authorName {
  font-family: poppins;
  font-size: 24px;
  color: #212529;
  line-height: 32.78px;
  font-weight: 600;
  text-transform: capitalize;
}

.authorName:hover {
  content: "alex john lucas";
  color: #e0a187;
}

.main-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.navLinks,
.navItems,
.navLink {
  font-family: poppins;
  font-size: 14px;
  line-height: 19.12px;
  font-weight: 500;
  color: #212529;
  text-decoration: none;
  list-style: none;
}
/* #4bbb7d */
.navLinks,
.navItems,
.navLink:hover {
  color: #4bbb7d;
}

.words--color {
  color: #e0a187;
}

.anchorline {
  border-top: 0.4px solid #21252933;
}

.menuOpenButton {
  display: none;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  color: #000000;
}

.closeNav {
  display: none;
  color: #212529;
  font-size: 1rem;
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
}
/* SECTION ONE */
.section--one {
  display: flex;
  justify-content: center;
}
.whatever--radiusImage {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  max-width: 80rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  z-index: 10;
  padding-top: 6rem;
}

.heading--one {
  font-family: poppins;
  font-size: 60px;
  font-weight: 500;
  line-height: 81.94px;
  color: #212529;
  margin-bottom: 4px;
}

.paragraph {
  font-family: poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #21252966;
}

.wordColor {
  color: #e0a187;
  margin-top: 2rem;
}

.radiusImage {
  width: 382px;
  height: 382px;
  border-radius: 50%;
  border: 20px solid #edc4b33b;
}

/* SECTION TWO */
.section--two {
  padding-top: 15rem;
  display: flex;
  justify-content: center;
}

.about--div {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  max-width: 90rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  z-index: 10;
}

.rectangleImage {
  width: 350px;
  height: 450px;
  border: 20px solid #edc4b33b;
}

/* SECTION THREE */
.section--three {
  padding-top: 8rem;
  display: flex;
  justify-content: center;
}

.projectOnePadding {
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.professionalFlex {
  max-width: 90rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.alignedCenter {
  display: flex;
  justify-content: center;
}

.projectGrid {
  max-width: 90rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  z-index: 10;
}

.allFlex {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  z-index: 10;
}

/* .skills {
  width: 434px;
  height: 403px;
} */

.heading--two {
  font-family: poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.59px;
  color: #000000;
  margin-bottom: 8px;
}

.codingImg {
  width: 506px;
  height: 475px;
}

.sameHeightImage {
  width: 458px;
  height: 463px;
}

.allDiv {
  width: 427px;
  height: 45px;
  background-color: #ffffff;
  box-shadow: 10px 10px 24px 0px #00000014;
  margin: 1.2rem 0;
}

.image--percent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  padding: 4px 8px 0 8px;
}

.htmlLogo {
  height: 21px;
}

/* .skillsLogo {
  width: 16px;
  height: 20px;
} */

.percentage {
  font-family: poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #212529;
}

.one {
  width: 330px;
  height: 4.8px;
  background-color: #e0a187;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.two {
  width: 300px;
  height: 4.8px;
  background-color: #e0a187;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* .htmlOne, .html.htmlOne, .htmlTwo {
  margin-top: 0;
}Two {
  margin-top: 0;
} */

.cssOne {
  width: 200px;
  height: 4.8px;
}

.cssTwo {
  width: 200px;
  height: 4.8px;
}

.logoWordDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.logoWord {
  font-family: poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.12px;
}

.cssLogo {
  width: 20px;
}

.jsOne {
  width: 240px;
  height: 4.8px;
}

.jsTwo {
  width: 240px;
  height: 4.8px;
}

.reactOne {
  width: 280px;
  height: 4.8px;
}

.reactTwo {
  width: 280px;
  height: 4.8px;
}
.brSpace {
  display: none;
}

/*    SECTION FOUR */
.section--four {
  padding-top: 7rem;
}

.flexMargin {
  margin-top: 4rem;
}

.allImgBorder {
  border: 20px solid #edc4b33b;
}

/* .projectMargin {
  margin-bottom: 1.3rem;
} */

.buttonMargin {
  margin-bottom: 3.4rem;
}

.buttonDemo {
  font-family: poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 20.49px;
  text-decoration: none;
  color: #e0a187;
  width: 100px;
  height: 20px;
  border: 1px solid #e0a187;
  padding: 1rem 2.4rem;
  background-color: rgba(224, 161, 135, 0.01);
}

/* SECTION FIVE */
.section--five {
  padding-top: 8rem;
}

.contactFlex {
  gap: 15rem;
}

.contactheading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.2rem;
  font-size: 2rem;
}

.contactArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;
  gap: 22px;
}

.flexSpaceBetween {
  justify-content: flex-start;
  gap: 14rem;
  padding: 2rem 9rem;
}

.nameAndEmail {
  /* display: flex;
  justify-content: flex-start;
  align-items:end; */
  width: 461px;
  height: 27px;
  border: 1px solid #e0a187;
  font-family: poppins;
  font-size: 14px;
  line-height: 19.12px;
  color: #21252969;
  padding: 8px 12px;
  background-color: rgba(252, 249, 248, 0.7);
}

.messageInputy {
  display: flex;
  justify-content: flex-start;
  align-self: start;
  height: 130px;
  padding: 0 12px;
  background-color: rgba(252, 249, 248, 0.7);
}

.sendButton {
  font-family: poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: #e0a187;
  width: 148px;
  height: 42px;
  border: 1px solid #e0a187;
  background-color: rgba(252, 249, 248, 0.7);
}

.contactImg {
  width: 200px;
  height: 200px;
}

/*  FOOTER */

.footer {
  margin-left: 0;
}

.footerFlex {
  max-width: 100rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10rem;
}

.socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}